:root {
  --text-blue: #3131ff;
}

.right {
  float: right;
}

.i {
  font-style: italic;
}

.u {
  text-decoration: underline;
}

.b {
  font-weight: bold;
}

.rotate90 {
  transform: rotate(0deg);
}

.opaque {
  opacity: 0.7;
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.25);
}

.yellow-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 251, 0, 0.397),
    0 4px 8px 0 rgba(255, 251, 0, 0.466);
}

.solid {
  opacity: 1 !important;
}

.fade-in {
  opacity: 0;
  transition: 2s opacity;
}

.border-fade-out {
  border-color: rgba(1, 1, 1, 0);
  transition: 1s border-color;
}

.current-page {
  font-style: italic;
}

.menu {
  margin-top: 1em;
}
.menu > * {
  font-style: italic;
  padding-left: 1px;
  padding-right: 1em;
  font-size: clamp(10px, 3vw, 16px);
}

.home-above {
  padding-top: 3em;
  padding-bottom: 0.6em;
}

.home-title {
  font-weight: bold;
  font-style: italic;
  color: var(--text-blue);
  font-size: clamp(16px, 3vw, 28px);
  background-color: #aaaaaa;
}

.home-email {
  font-weight: bold;
  font-style: italic;
  font-size: clamp(12px, 2vw, 20px);
  color: var(--text-blue);
}

.home-table {
  float: left;
  display: table;
  width: 60%;
  table-layout: fixed;
}

.home-table span {
  display: table-cell;
  text-align: left;
}

.home-below {
  padding-top: 0.2em;
  font-weight: bold;
  font-size: clamp(12px, 2vw, 20px);
}

.fallback-div {
  height: calc(90vw / 16 * 9);
}

.center-parent {
  display: grid;
  place-items: center;
}

.center-child {
  text-align: center;
}

.header {
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 2em;
}

.header-img {
  height: auto;
  width: clamp(180px, 53vw, 280px);
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.4em;
  font-size: 0.6em;
  text-align: center;
}

.row-data {
  margin-left: 5%;
}

.two-columns {
  margin-left: 0%;
}

.player {
  padding-bottom: 56.25%;
  position: relative;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 100%;
}

body {
  font-family: serif;
  background: #d9d9d9;
  max-width: 220mm;
  margin-left: auto;
  margin-right: auto;
  font-size: 100%;
  padding: 0 2vw 2vw 2vh;

  /* hide scrollbar */
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

h2 {
  font-family: serif;
  font-weight: bold;
  font-style: italic;
  font-size: clamp(12px, 3vw, 20px);
}

p {
  font-style: italic;
  font-size: clamp(0.7em, 1em, 5em);
  margin: 5% 10% 5% 10%;
}

a {
  text-decoration: inherit;
  font-size: inherit;
}

/*
a:link {
}
a:hover {
}
a:active {
}
*/

A,
a {
  color: var(--text-blue);
  text-decoration: inherit;
  font-size: inherit;
}

A:visited,
a:visited {
  color: var(--text-blue);
}

A:hover,
a:hover {
  color: yellow;
  font-style: italic;
  opacity: 1;
}

img {
  width: 100%;
  display: flex;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.videoInsert {
  width: 100%;
  height: auto;
}

.spreadLinkContainer {
  display: flex;
  min-width: 100%;
}
